@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #ffffff;

  color: #000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  height: 70px;
  display: flex;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.6);

  border-bottom: 1px solid #ffffff;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: transparent;
  background: rgba(0, 0, 0, 0.6);

  border-bottom: 1px solid #ffffff;
}
.header-policy-terms {
  background: rgba(21, 27, 34, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: end;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
  background-color: transparent;
}

.navigation__list {
  background: rgba(21, 27, 34, 0.7);

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0 30px 0;

  top: 150px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 456px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  display: flex;
  justify-content: center;
  position: relative;
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #fff;
}

.navigation__link:hover,
.navigation__link:focus {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .header {
    height: 100px;
    padding: 16px 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .header-policy-terms {
    background: rgba(21, 27, 34, 1);
  }
  .navigation__item-desk {
    display: none;
  }
  .header__icon-button {
    display: none;
  }
  .header__button-wrapper {
    width: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;

    align-items: center;
    justify-content: center;
  }

  .navigation__list {
    flex-direction: row;
    justify-content: center;
    position: static;
    width: auto;
    padding-block: 0;
    flex: 1;
    gap: 24px;
    height: 0px;
    display: flex;

    align-items: center;
    padding: 0;
  }
  .navigation__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #fff;
  }
  .navigation__link-policy-terms {
    color: #000;
  }
  .navigation__list-polict {
    justify-content: center;
  }
  .navigation__link {
    width: auto;

    height: 40px;
  }
  .navigation__link-polict {
    display: none;
  }
  .header__icon-home-img {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 16px;

  background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)),
    url("/img/hero/1.png");
}
.home__wrapper {
  position: relative;
  z-index: 3;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 142px 0 0;
}
.home-title {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  text-transform: uppercase;
}
.home-text {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 32px 0 217px;
  color: #fff;
}

.home-button {
  width: 343px;
  height: 56px;
  padding: 16px 32px 16px 32px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #131313;
  text-transform: uppercase;
}
.home-button-two {
  background: #151b22;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;

  color: #ffffff;
  margin-top: 24px;
}
@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 720px;

    padding: 0;

    background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)),
      url("/img/hero/2.jpg");
  }
  .home__wrapper {
    position: relative;
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 850px;
    margin: auto;
    padding-top: 221px;
  }
  .home-title {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    text-transform: uppercase;
  }
  .home-text {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 32px 0 160px;
    color: #fff;
  }
}

.about {
  background: #ffffff;

  width: 375px;
  padding: 62px 16px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-title {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  line-height: 38.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #181818;
  text-transform: uppercase;
}

.about-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  margin-top: 46px;
}

.about-item {
  width: 343px;
  height: 438px;
  border-radius: 10.11px;

  display: flex;
  align-items: end;
  justify-content: start;
  padding: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/card\ \(1\).png");
}
.about-item-two {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("/img/about/card\ \(2\).png");
}
.about-item-three {
  background-image: url("/img/about/card\ \(3\).png");
}
.about-text-button {
  width: 171.91px;
  height: 46.95px;
  padding: 13.48px 26.95px 13.48px 26.95px;
  gap: 8.42px;
  border-radius: 10.11px;
  border: none;
  font-family: Poppins;
  font-size: 13.48px;
  font-weight: 300;
  line-height: 20.22px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  color: #181818;
  background: #ffffff;
  margin-top: 16px;
}
.about-text {
  font-family: Poppins;
  font-size: 20.22px;
  font-weight: 500;
  line-height: 24.26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 100px 0 79px;
    width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .about-title {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .about-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
    margin: auto;
    margin-top: 64px;
  }

  .about-item {
    width: 406px;
    height: 520px;
    border-radius: 10.11px;

    display: flex;
    align-items: end;
    justify-content: start;
    padding: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/about/card\ \(1\).png");
  }
  .about-item-two {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("/img/about/card\ \(2\).png");
  }
  .about-item-three {
    background-image: url("/img/about/card\ \(3\).png");
  }
  .about-text-button {
    width: 171.91px;
    height: 46.95px;
    padding: 13.48px 26.95px 13.48px 26.95px;
    gap: 8.42px;
    border-radius: 10.11px;
    border: none;
    font-family: Poppins;
    font-size: 13.48px;
    font-weight: 300;
    line-height: 20.22px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    color: #181818;
    background: #ffffff;
    margin-top: 16px;
  }
  .about-text {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #ffffff;
  }
}
.services {
  padding: 62px 16px;
  width: 375px;
  margin: auto;
}
.services-title-text {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 34px 0 55px;
}
.services-list {
  padding: 32px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.services-item {
  margin: auto;
  width: 296px;
  height: 340px;
  border-radius: 12px;
  padding: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/services/card\ \(4\).png");
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
}
.services-item-two {
  background-image: url("/img/services/card\ \(5\).png");
}
.services-item-three {
  background-image: url("/img/services/card\ \(6\).png");
}
.services-item-four {
  background-image: url("/img/services/card\ \(7\).png");
}
.services-text-bold {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;

  padding: 0 0 16px;
}
.services-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  height: 44px;
}

@media screen and (min-width: 1200px) {
  .services {
    padding: 100px 80px 90px;
    width: 1440px;
    margin: auto;
  }

  .services-list {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.gallery {
  margin: auto;
  width: 375px;
  background: #151b22;
}
.gallery-container {
  padding: 62px 16px;
}
.gallery-title {
  color: #ffffff;
}
.gallery-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-top: 54px;
  margin: auto;
}
.gallery-item {
  display: flex;
  padding: 21px 0;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.gallery-text-bold {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  padding-bottom: 14px;
  width: 247px;
}

.gallery-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 247px;
  color: #fff;
}
.gallery-item-img {
  width: 80px;
  height: 80px;
  gap: 0px;
  opacity: 0px;
}

@media screen and (min-width: 1200px) {
  .gallery {
    padding: 100px 156px 100px;
    margin: auto;
    width: 1440px;
  }
  .gallery-container {
    padding: 0;
  }

  .gallery-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 54px;
    margin: auto;
    height: 360px;
  }
  .gallery-item {
    display: flex;
    padding: 21px 0;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  .gallery-text-bold {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-bottom: 14px;
    width: 244px;
  }

  .gallery-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 244px;
    color: #fff;
  }
  .gallery-item-img {
    width: 109px;
    height: 103.69px;
    gap: 0px;
    opacity: 0px;
  }
}

.reviews {
  padding: 62px 16px;
  margin: auto;
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
}
.reviews-item {
  width: 343px;
  height: 476px;

  border-radius: 18.12px;

  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/reviews/image\ \(1\).png");
}
.reviews-item-two {
  background-image: url("/img/reviews/image\ \(2\).png");
}
.reviews-item-three {
  background-image: url("/img/reviews/image\ \(3\).png");
}
.reviews-item-container {
  border-radius: 18.12px;
  width: 310px;

  padding: 16px;
  background: #fff;
  margin-top: 222px;
}
.reviews-item-img {
  width: 51px;
  height: 51px;

  border-radius: 25.5px;
  border: 5px solid #ffffff;
  margin: 0 auto;
  margin-top: -40px;
}
.reviews-text-bold {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #181818;
}
.reviews-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3c3c3c;
  padding: 16px 0 20px;
}
.reviews-item-img-star {
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .reviews {
    padding: 100px 125px;
    margin: auto;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .reviews-list {
    display: flex;
    flex-direction: row;
    gap: 39px;
    margin: auto;
  }
  .reviews-item {
    width: 370px;
    height: 476px;

    border-radius: 18.12px;

    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/reviews/image\ \(1\).png");
  }
  .reviews-item-two {
    background-image: url("/img/reviews/image\ \(2\).png");
  }
  .reviews-item-three {
    background-image: url("/img/reviews/image\ \(3\).png");
  }
  .reviews-item-container {
    border-radius: 18.12px;
    width: 310px;

    padding: 16px;
    background: #fff;
    margin-top: 222px;
  }
  .reviews-item-img {
    width: 51px;
    height: 51px;

    border-radius: 25.5px;
    border: 5px solid #ffffff;
    margin: 0 auto;
    margin-top: -40px;
  }
  .reviews-text-bold {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #181818;
  }
  .reviews-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3c3c3c;
    padding: 16px 0 20px;
  }
  .reviews-item-img-star {
    margin: auto;
  }
}
.prices {
  padding: 61px 11px;
  margin: auto;
  width: 375px;
  height: 1034px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/img/prices/Müşteri\ Yorumları.png");

  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
}
.prices-title {
  color: rgba(255, 255, 255, 1);

  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.prices-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.prices-form-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 8px;
}
.prices-form-text-input {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
  width: 348px;
  height: 60px;
  padding: 20px 24px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.prices-form-text-button {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(24, 24, 24, 1);
  width: 343px;
  height: 56px;
  margin-top: 56px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 12px;
  opacity: 0px;
  background: rgba(243, 225, 206, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1200px) {
  .prices {
    padding: 100px 200px;
    margin: auto;
    width: 1440px;
    height: 812px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("/img/prices/Fiyatlar\ ve\ Rezervasyon\ .png");

    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
  }
  .prices-title {
    color: rgba(255, 255, 255, 1);
    width: 790px;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .prices-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
  }
  .prices-form-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 8px;
  }
  .prices-form-text-input {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
    width: 406px;
    height: 60px;
    padding: 20px 24px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .prices-form-text-button {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(24, 24, 24, 1);
    width: 384px;
    margin: auto;
    height: 56px;
    margin-top: 56px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    border-radius: 12px;
    opacity: 0px;
    background: rgba(243, 225, 206, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
.contacts {
  padding: 62px 16px;
  margin: auto;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacts-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/contacts/image\ \(4\).png");
  width: 343px;
  height: 424px;
  margin: 42px auto 0;
  border-radius: 12px;
  padding-top: 255px;
}

.contacts-list {
  margin: 0px auto 0;

  display: flex;
  flex-direction: column;

  width: 344px;
  padding: 22px;
  gap: 10px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.8);
}
.contacts-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contacts-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(80, 89, 102, 1);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
  margin: auto;
  gap: 16px;
}
.form-text-bold {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(24, 24, 24, 1);
}

.form-input {
  width: 343px;
  padding: 16px;
  border-radius: 8px;
  color: rgba(24, 24, 24, 1);
  border: none;
  border: 1px solid rgba(80, 89, 102, 1);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
  width: 343px;
  height: 56px;

  padding: 16px 32px 16px 32px;

  border-radius: 12px;

  background: rgba(21, 27, 34, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 16px;
}

@media screen and (min-width: 1200px) {
  .contacts {
    margin: auto;
    width: 1440px;

    justify-content: start;
    padding: 0;
    padding-right: 80px;
  }
  .contacts-form {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 31px;
  }
  .contacts-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/contacts/image\ \(5\).png");
    width: 705px;
    height: 870px;

    border-radius: 0px;

    margin: 0;

    padding-top: 685px;
  }

  .contacts-list {
    margin: 0px auto 0;

    display: flex;
    flex-direction: column;

    width: 545px;
    padding: 24px;
    gap: 10px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.8);
  }
  .contacts-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .contacts-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: rgba(80, 89, 102, 1);
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
    margin: auto;
    gap: 24px;
  }
  .form-text-bold {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: rgba(24, 24, 24, 1);
  }

  .form-input {
    width: 624px;
    padding: 16px;
    border-radius: 8px;
    color: rgba(24, 24, 24, 1);
    border: none;
    border: 1px solid rgba(80, 89, 102, 1);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
    width: 343px;
    height: 56px;

    padding: 16px 32px 16px 32px;

    border-radius: 12px;

    background: rgba(21, 27, 34, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 16px;
  }
}

.footer {
  background: #151b22;
  color: #ffffff;
  padding: 40px 30px;
  font-family: Poppins;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  gap: 17px;
}
.footer-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  margin: auto;
}

.footer-copyright {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 32px;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 32px 400px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
  }
  .footer-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 46px;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 110px 16px 100px;
  color: #181818;
  font-family: Poppins;
}

.policy-terms-text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.policy-terms-text-one {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.policy-terms-text-bold {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.terms-lists {
  font-family: Poppins;
  list-style-type: disc;

  padding-left: 25px;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}
.email-link {
  color: inherit;
  text-decoration: none;
  color: #181818;
}

@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 174px 120px 100px;
    width: 1440px;
    margin: auto;
  }

  .policy-terms-text {
    font-size: 16px;
  }

  .policy-terms-text-one {
    font-size: 16px;
  }
  .policy-terms-text-bold {
    font-size: 16px;
  }

  .terms-lists {
    font-size: 16px;
  }
}
